<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description/>
  <logRotator>
    <daysToKeep>60</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <nectar.plugins.rbac.groups.JobProxyGroupContainer>
      <groups/>
    </nectar.plugins.rbac.groups.JobProxyGroupContainer>
    <com.cloudbees.jenkins.plugins.PublicKey/>
    <com.cloudbees.plugins.deployer.DeployNowJobProperty>
      <oneClickDeploy>false</oneClickDeploy>
      <configuration>
	<user>(jenkins)</user>
	<account>${account}</account>
	<deployables/>
      </configuration>
    </com.cloudbees.plugins.deployer.DeployNowJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
	<name/>
	<refspec/>
	<url>${repositoryUrl}</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
	<name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir/>
    <reference/>
    <excludedRegions/>
    <excludedUsers/>
    <gitConfigName/>
    <gitConfigEmail/>
    <skipTag>false</skipTag>
    <includedRegions/>
    <scmName/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector">
    <com.cloudbees.jenkins.forge.ForgePushTrigger>
      <spec/>
    </com.cloudbees.jenkins.forge.ForgePushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
python --version 
nosetests --with-xunit src/test/test.py 

# You can use virtualenv, too! 
#virtualenv -q myenv 
#source ./myenv/bin/activate 
#pip install simplejson
      </command>
    </hudson.tasks.Shell>
    <com.cloudbees.jenkins.plugins.gaedeployer.GAEPythonDeployer>
      <applicationDir>src/webapp</applicationDir>
      <updateBackends>false</updateBackends>
      <applicationId>${applicationName}</applicationId>
      <applicationVersion>${JOB_NAME}-${BUILD_NUMBER}</applicationVersion>
    </com.cloudbees.jenkins.plugins.gaedeployer.GAEPythonDeployer>
    <hudson.tasks.Shell>
      <command>
echo Congratulations! Your application is now deployed at http://${JOB_NAME}-${BUILD_NUMBER}.${JOB_NAME}.appspot.com
      </command>
  </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>nosetests.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>
